
html, body {
    margin: 0;
    height: 100%;
    color: lightgrey;
    background-color: #282828;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h3{
    color: lightgrey;
}

ul > .tab{
    display: none;
}

div[id^="div-"]{
    height: 100%;
    display: none;
}

#exTab2 > ul > li > a{
    color: lightgrey;
}
#exTab2 > ul > .active > a{
    background-color: transparent; !important;
    border-bottom-color: #282828; !important;
    outline: 0;
}
.nav-tabs > li > a:hover{
    background-color: transparent;
    border-bottom-color: #282828; !important;
    text-shadow: 0 0 4px white;
}

.input-group-btn, .form-control, .dropdown-menu li > a {
    background-color: #767676; !important;
    color: lightgrey;
}
.dropdown-menu {
    background-color: transparent; !important;
}


.tab-pane{
    position: relative;
}
#exTab2{
    height: 83%;
}
.tab-pane, .tab-content{
    height: 83%;
}

.opt-row{
    width: 100%;
    /*text-align: center;*/
}
.opt-block{
    width: 275px;
    display: inline-block;
}

.network{
    font: 12pt arial;
    width: auto;
    height: 100%;
    border: 1px solid #444444;
    margin-bottom: 20px;
    position: relative;
}

.network.full-page{
    margin-bottom: 0px;
}

.fa{
    font-size: 30px;
    color: white;
}

/* -------- GRAPH -------- */

/* open/close const_heur */

#const_heur{
    display: none;
}

.network-left-text{
    background-color: #262626;
    color: lightgrey;
    font-size: medium;
    position: absolute;
    top: 5px;
    left: 5px;
}

.network-right-magnify{
    cursor: pointer;
    background-color: #282828;
    padding: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* graph container */
.full-page{
    background-color: #262626;
    height: auto; !important;
    /*width: 100%;*/

    overflow: hidden;
    position: fixed; !important;

    top: 10px; !important;
    right: 10px; !important;
    bottom: 10px; !important;
    left: 10px; !important;

    border: 2px solid #fff; !important;
    z-index: 999; !important;
}

/*
---------- table
 */
#table_container{
    display: none;
}

/*
---------- PLEASE WAIT
 */
#please_wait{
    background-color: rgba(38,38,38,0.8);
    /*display: block;*/
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
}


/*---------------------- OVERRIDE ----------------------------*/

.btn-primary, .btn-primary:focus, .btn-primary:hover{
    background-color: green; !important;
}

span.toggle-handle.btn.btn-default{
    background-image: linear-gradient(to bottom, darkgrey 0px, #e0e0e0 100%);
}
label.btn.btn-primary.toggle-on{
    background-image: linear-gradient(to bottom, #a4b357 0%, #75890c 100%);
}
.btn-default.active, .btn-default:active {
    background-color: darkgrey;
    border-color: lightgray;
}

#example tr.odd{
    background-color: #767676;
}

#example_length, #example_filter, #example_info, #example_paginate{
    display: none;
}

.scrollable-menu {
    height: auto;
    max-height: 215px;
    overflow-x: hidden;
}